body {
   
        background-image: url('images/desktop-wallpaper-back-to-school\ \(1\).jpg'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; /
    
}

.bg-success-subtle {
    background-color: #e9f7ef;
}

.card {
    background-color: #fff;
    border-radius: 0.75rem;
}

.card-body {
    padding: 2rem;
}

.btn-success {
    background-color: #28a745;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 500;
}

.btn-success:hover {
    background-color: #218838;
}

.text-danger {
    font-size: 0.875rem;
}

.form-label {
    font-weight: 500;
}

.logo {
    max-width: 150px;
    height: auto;
}

.welcome-container {
    display: none; 
    text-align: center;
    padding: 50px;
}

.welcome-content {
    max-width: 600px;
    margin: auto;
}
